# Model Persistence

In [1]:
# Initial imports
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import pandas as pd

In [2]:
# Upload winequality.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving winequality.csv to winequality.csv

In [3]:
# Read in data
df = pd.read_csv("winequality.csv", delimiter=";")
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

## Prepare the data

In [4]:
# Define the features X set and the target y vector
X = df.iloc[:, 0:11].values
y = df["quality"].values

In [5]:
# Scale the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)
X = scaler.transform(X)

## Create the shallow neural network model

In [6]:
# Define the model - shallow neural network
nn = Sequential()

# Hidden layer
nn.add(Dense(units=8, input_dim=11, activation="relu"))

# Output layer
nn.add(Dense(units=1, activation="linear"))

In [7]:
# Compile the model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

# Fit the model
model = nn.fit(X, y, epochs=200, verbose=0)

## Save the model as JSON to a file

In [8]:
# Save model as JSON
nn_json = nn.to_json()

file_path = "model.json"
with open(file_path, "w") as json_file:
    json_file.write(nn_json)

## Save the model weights

In [9]:
# Save weights
file_path = "model.h5"
nn.save_weights(file_path)

## Load the model and weights

In [10]:
# Load the saved model to make predictions

# Imports
from tensorflow.keras.models import model_from_json

# load json and create model
file_path = "model.json"
with open(file_path, "r") as json_file:
    model_json = json_file.read()
loaded_model = model_from_json(model_json)

# load weights into new model
file_path = "model.h5"
loaded_model.load_weights(file_path)

## Make predictions with the model

In [11]:
# Make some predictions with the loaded model
df["predicted"] = loaded_model.predict(X)
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  predicted
0            7.4              0.70         0.00  ...      9.4        5   4.996343
1            7.8              0.88         0.00  ...      9.8        5   5.047892
2            7.8              0.76         0.04  ...      9.8        5   5.376921
3           11.2              0.28         0.56  ...      9.8        6   5.715414
4            7.4              0.70         0.00  ...      9.4        5   4.996343
5            7.4              0.66         0.00  ...      9.4        5   5.035593
6            7.9              0.60         0.06  ...      9.4        5   5.093153
7            7.3              0.65         0.00  ...     10.0        7   5.189815
8            7.8              0.58         0.02  ...      9.5        7   5.391011
9            7.5              0.50         0.36  ...     10.5        5   5.224221

[10 rows x 13 columns]