# A Friends DataFrame

### Instructions

#### Part 1: Initial Setup

1. Ask each classmate in the breakout room the following:
    * Their name.
    * Their location.
    * How many years of software experience they have.
    * One technology they have experience with.

2. Import the required libraries and dependencies into your Jupyter Notebook.

#### Part 2: `Series` to `DataFrame`

1. Create three dictionaries for the data collected.

    * The keys for each dictionary are the names.
    * The values for the first dictionary are the locations.
    * The values for the second dictionary are the years of experience.
    * The values for the third dictionary are the technology used.

2. Convert each dictionary into a Pandas `Series`, storing each in its own variable.

3. Create a Pandas `DataFrame` using the three `Series` as data.

4. Transpose the resulting `DataFrame`.

#### Part 3: `Dictionary` to `DataFrame`

1. Create a single `dictionary` where the keys are your classmates' names and the other values are stored in a list.

  For example:

  ```python
  my_classmates = {
    "Anna": ["London",1,"Java"],
    "Mohammad" : ["Chicago",0,"Microsoft Office"],
  }
  ```

2. Create a Pandas DataFrame, using the my_classmates dictionary as the data. **Hint:** Use the `index` parameter and label the column names with ["City", "Software Experience", "Technologies Used"].

3. Transpose the DataFrame.

#### Part 4: Manipulate the `DataFrame`

1. View the data in the `DataFrame`'s City column.

2. Using the `mean` method, calculate the average years of software experience of the group.

3. For one of your classmates, increase their years of software experience by 1 year.

Be prepared to share some of your solutions with the class when you return from the breakout room.

# Part 1: Initial Setup

## Ask each classmate in the breakout room the following:

* Their name.
* Their location. 
* How many years of software experience they have.
* One technology they have experience with. 

## Import the required libraries and dependencies.

In [1]:
# Import the Pandas library
import pandas as pd

# Part 2: `Series` to `DataFrame`

## Create three dictionaries for the data collected from your classmates.

* The keys for each dictionary are the names.
* The values for the first dictionary are the locations.
* The values for the second dictionary are the years of experience.
* The values for the third dictionary are the technology used.

In [2]:
# Create three dictionaries with classmates' names as keys, location, years and tech as values.
classmate_city = {
    "Anna": "London",
    "Mohammad": "Hong Kong",
    "Viral": "Seattle",
    "Lizette": "Chicago"
}

classmate_years = {
    "Anna": 7,
    "Mohammad": 0,
    "Viral": 5,
    "Lizette": 2
}

classmate_tech = {
    "Anna": "Java",
    "Mohammad": "Microsoft Office",
    "Viral": "C#",
    "Lizette": "JavaScript"
}

## Convert each dictionary into a Pandas Series, storing each in its own variable.

In [3]:
# Create a series from each dictionary
series_of_people = pd.Series(classmate_city, name = "City")
series_of_years = pd.Series(classmate_years, name = "Years")
series_of_tech = pd.Series(classmate_tech, name = "Tech")

# Preview one of the Series
series_of_people

Anna           London
Mohammad    Hong Kong
Viral         Seattle
Lizette       Chicago
Name: City, dtype: object

## Create a Pandas `DataFrame` using the three `Series` as data

In [4]:
# Create DataFrame from the three Series
# Hint: Pass them as a list to the data parameter
series_to_DataFrame = pd.DataFrame(data=[series_of_people, series_of_years, series_of_tech])

# View the resulting DataFrame
series_to_DataFrame

         Anna          Mohammad    Viral     Lizette
City   London         Hong Kong  Seattle     Chicago
Years       7                 0        5           2
Tech     Java  Microsoft Office       C#  JavaScript

## Transpose the resulting `DataFrame`.

In [5]:
# Transpose DataFrame 
series_to_DataFrame = series_to_DataFrame.T

# View the transposed DataFrame
series_to_DataFrame

               City Years              Tech
Anna         London     7              Java
Mohammad  Hong Kong     0  Microsoft Office
Viral       Seattle     5                C#
Lizette     Chicago     2        JavaScript

# Part 3: `Dictionary` to `DataFrame`

## Create a single `dictionary` containing the data previously collected from your classmates.

* The keys for the dictionary are your classmates' names.
* The values for the dictionary are the remaining data in list format.
* For example:


```python
my_classmates = {
  "Anna": ["London",1,"Java"],
  "Mohammad" : ["Chicago",0,"Microsoft Office"],
}
```

In [6]:
# Create Dictionary
my_classmates = {
    "Anna": ["London", 7, "Java"],
    "Mohammad": ["Hong Kong", 0, "Microsoft Office"],
    "Viral": ["Seattle", 5, "C#"],
    "Lizette": ["Chicago", 2, "JavaScript"],
}

## Create a Pandas `DataFrame` using the my_classmates dictionary as the data.

In [7]:
# Create DataFrame from the my_classmates dictionary
# Hint - Use the `index` parameter and label the 
# column names with ["City", "Software Experience", "Technologies Used"]
my_classmates_df = pd.DataFrame(
    data=my_classmates, index=["City", "Software Experience", "Technologies Used"]
)

# View the resulting DataFrame
my_classmates_df

                       Anna          Mohammad    Viral     Lizette
City                 London         Hong Kong  Seattle     Chicago
Software Experience       7                 0        5           2
Technologies Used      Java  Microsoft Office       C#  JavaScript

## Transpose the `DataFrame`.

In [8]:
# Transpose DataFrame 
my_classmates_df = my_classmates_df.T

# View the transposed DataFrame
my_classmates_df

               City Software Experience Technologies Used
Anna         London                   7              Java
Mohammad  Hong Kong                   0  Microsoft Office
Viral       Seattle                   5                C#
Lizette     Chicago                   2        JavaScript

# Part 4: Manipulate the `DataFrame`

## View the data in the `DataFrame`'s 'City' column.

In [9]:
# View the entries in the DataFrame's "City" column
my_classmates_df["City"]

Anna           London
Mohammad    Hong Kong
Viral         Seattle
Lizette       Chicago
Name: City, dtype: object

## Using the `mean()` method, calculate the average years of software experience of the group.

In [10]:
# Calculate mean value of the group's software experience
my_classmates_df["Software Experience"].mean()

3.5

## For one of your classmates, increase their years of software experience by 1 year.

In [11]:
# For one of your classmates, increase their years of software experience by 1 year. 
my_classmates_df["Software Experience"][1] = 1

# Confirm that the change has been made by viewing the DataFrame
my_classmates_df

               City Software Experience Technologies Used
Anna         London                   7              Java
Mohammad  Hong Kong                   1  Microsoft Office
Viral       Seattle                   5                C#
Lizette     Chicago                   2        JavaScript